.jumbotron {
	width: 600px;
	text-align: center;
	margin-top: 20px;
	margin-left: auto;
	margin-right: auto;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 20px;
	padding-bottom: 40px;
}
.table {
	margin-top: 20px;
}
.form-control{
	margin-bottom: 4px;
}
.selecionado {
	background: yellow;
}
.negrito {
	font-weight: bold;
}