<!DOCTYPE html>
<html ng-app="listaTelefonica">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Lista Telefonica</title>
	<link rel="stylesheet" href="lib/bootstrap/bootstrap.css" />
	<style>
		.jumbotron {
			width: 400px;
			text-align: center;
			margin-top: 20px;
			margin-left: auto;
			margin-right: auto;
			padding-left: 20px;
			padding-right: 20px;
			padding-top: 20px;
			padding-bottom: 40px;
		}
		.table {
			margin-top: 20px;
		}
		.form-control{
			margin-bottom: 4px;
		}
		.selecionado {
			background: yellow;
		}
		.negrito {
			font-weight: bold;
		}
	</style>
	<script src="lib/angular/angular.js"></script>
	<script type="text/javascript">
		angular.module("listaTelefonica", []);
		angular.module("listaTelefonica").controller("listaTelefonicaCtrl", function($scope){
			$scope.app = "Lista Telefonica";
			$scope.contatos = [
				{nome: "Pedro", telefone: "99998888", cor: 'blue'},
				{nome: "Ana", telefone: "99998877", cor: 'red'},
				{nome: "Maria", telefone: "99998866", cor: 'silver'}
			];
			$scope.adicionarContato = function(contato) {
				$scope.contatos.push(angular.copy(contato));
				delete $scope.contato;
			};
			$scope.operadoras = [
				{nome: "Oi", codigo: 14, categoria: "Celular"},
				{nome: "Vivo", codigo: 15, categoria: "Celular"},
				{nome: "Tim", codigo: 41, categoria: "Celular"},
				{nome: "GVT", codigo: 25, categoria: "Fixo"},
				{nome: "Embratel", codigo: 21, categoria: "Fixo"}
			];
			$scope.apagarContatos = function(contatos) {
				$scope.contatos = contatos.filter(function(contato) {
					if(!contato.selecionado) return contato;
				});
			};
			$scope.isContatosSelecionados = function(contatos) {
				return contatos.some(function(contato) {
					return contato.selecionado;
				});
			}
			$scope.classe1 = "selecionado";
			$scope.classe2 = "negrito";
		});
	</script>
</head>
<body ng-controller="listaTelefonicaCtrl">
	<div class="jumbotron">
		<h3 ng-bind="app"></h3>
		<table class="table">
			<thead>
				<tr>
					<th></th>
					<th>Nome</th>
					<th>Telefone</th>
					<th>Operadora</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<tr ng-class="{'selecionado negrito': contato.selecionado}" ng-repeat="contato in contatos">
					<td><input type="checkbox" ng-model="contato.selecionado"></td>
					<td>{{contato.nome}}</td>
					<td>{{contato.telefone}}</td>
					<td>{{contato.operadora.nome}}</td>
					<td><div style="width:20px; height:20px;" ng-style="{'background-color': contato.cor}" ></div></td>
				</tr>
			</tbody>
		</table>
		<hr />
		<input class="form-control" type="text" ng-model="contato.nome" placeholder="Nome">
		<input class="form-control" type="text" ng-model="contato.telefone" placeholder="Telefone">
		<select class="form-control" ng-model="contato.operadora" ng-options="operadora.nome group by operadora.categoria for operadora in operadoras">
			<option value=""> Selecione uma operadora</option>
		</select>
		<button class="btn btn-primary btn-block" ng-click="adicionarContato(contato)" ng-disabled="!contato.nome || !contato.telefone || !contato.operadora">Adicionar Contato</button>
		<button class="btn btn-danger btn-block" ng-click="apagarContatos(contatos)" ng-disabled="!isContatosSelecionados(contatos)">Apagar Contatos</button>
	</div>
	<div ng-include="'footer.html'"></div>
</body>
</html>